.jumbotron {
    padding-top: 6rem;
  margin-right: -2%;
    background-color: #b7cff8;
}

#projects {
    background-color:#b7cff8 ;
 
    
}

#about {

}

section {
    padding-top: 5rem;
    background-color: #fff;
   
body {
  
    background-color: rgb(255, 255, 255);
}